

.admin-courses {
  display: flex;
  flex-wrap: wrap;
}
.right{
  position: absolute;
  left: 1150px;
  top: 150px;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap; 
}

.course-card {
  width: calc(33.33% - 15px); 
  min-width: 250px; 
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  color: #8a4baf;
  margin-left: 15px;
  margin-top: 15px;
}

  .right {
    .course-form {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 300px;

      h2 {
        font-size: 24px;
        color: #8a4baf;
        margin-bottom: 15px;
      }

      form {
        text-align: left;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 15px;
          color: #333;
        }

        input,
        select {
          width: 92%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }
  }
