
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 900px;
  overflow: clip;
}

.section-title {
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin-top: 10px;
    line-height: 1px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    position: relative;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: var(--accent-color);
    margin: 4px 10px;
  }
  
  .section-title p {
    color: var(--heading-color);
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: var(--nav-font);
    text-transform: uppercase;
  }
  

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}
.hero {
    width: 100%;
    min-height: 80vh;
    position: relative;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-color);
    background-color: #fff;
  }
  
  .hero_img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero:before {
    content: "";
    background: color-mix(in srgb, var(--background-color), transparent 60%);
    height: 90vh;
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .hero .container {
    position: relative;
    z-index: 3;
  }
  
  .hero h2 {
    font-size: 48px;
    font-weight: 700;
    color: white;

  }
  
  .hero p {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  .hero .btn-get-started {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    transition: 0.4s;
    margin-top:  30px;
    border: 2px solid var(--default-color);
    color: var(--default-color);
    text-decoration: none;
  }
  
  .hero .btn-get-started:hover {
    background: #06BBCC;
    border: 2px solid #06BBCC;
  }
  
  @media (max-width: 768px) {
    .hero h2 {
      font-size: 32px;
    }
  
    .hero p {
      font-size: 18px;
    }
  }
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
  }
  /* # About Section */
  .about .content h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  
  .about .content ul i {
    font-size: 1.25rem;
    margin-right: 4px;
    color:#06BBCC ;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .content .read-more {
    background: #06BBCC;
    color: var(--contrast-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 24px 12px 24px;
    border-radius: 50px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .about .content .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .about .content .read-more:hover {
    background: color-mix(in srgb, #06BBCC, transparent 20%);
    padding-right: 19px;
  }
  
  .about .content .read-more:hover i {
    margin-left: 10px;
  }
  .counts {
    padding: 25px 0;
  }
  
  .counts .stats-item {
    padding: 30px;
    width: 100%;
  }
  
  .counts .stats-item span {
    font-size: 48px;
    display: block;
    color: #06BBCC;
    font-weight: 700;
  }
  
  .counts .stats-item p {
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    padding: 0;
    margin: 0;
    font-family: var(--heading-font);
    font-size: 15px;
    font-weight: 600;
  }
  .why-us .why-box {
    color: black;
    border: 1px solid #06BBCC;
    padding: 30px;
  }
  
  .why-us .why-box h3 {
    color: black;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .why-us .why-box p {
    margin-bottom: 30px;
  }
  
  .why-us .why-box .more-btn {
    display: inline-block;
    background: color-mix(in srgb, #06BBCC, transparent 75%);
    padding: 8px 40px 10px 40px;
    color: var(--contrast-color);
    transition: all ease-in-out 0.4s;
    border-radius: 50px;
    text-decoration: none;
  }
  
  .why-us .why-box .more-btn i {
    font-size: 14px;
  }
  
  .why-us .why-box .more-btn:hover {
    color: #fff;
    background: #06BBCC;
  }
  
  .why-us .icon-box {
    background-color: var(--surface-color);
    text-align: center;
    padding: 40px 30px;
    width: 100%;
    height: 100%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .why-us .icon-box i {
    color: #06BBCC;
    font-size: 32px;
    margin-bottom: 30px;
    background: color-mix(in srgb, var(--accent-color), transparent 95%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    transition: 0.3s;
  }
  
  .why-us .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }
  
  .why-us .icon-box p {
    font-size: 15px;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
  }
  
  .why-us .icon-box:hover i {
    color: var(--contrast-color);
    background: #06BBCC;
  }
  .features {
    padding: 10px 0;
  }
  
  .features .features-item {
    background-color: var(--surface-color);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    position: relative;
  }
  
  .features .features-item i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 0;
  }
  
  .features .features-item h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
  }
  
  .features .features-item h3 a {
    color: var(--heading-color);
    transition: 0.3s;
    text-decoration: none;
  }
  
  .features .features-item:hover {
    border-color: #06BBCC;
  }
  
  .features .features-item:hover h3 a {
    color: #06BBCC;
  }
  .courses .course-item {
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    border-radius: 5px;
  }
  
  .courses .course-content {
    padding: 15px;
  }
  
  .courses .course-content h3 {
    font-weight: 700;
    font-size: 20px;
  }
  
  .courses .course-content h3 a {
    color: var(--heading-color);
    transition: 0.3s;
    text-decoration: none;
  }
  
  .courses .course-content h3 a:hover {
    color: var(--accent-color);
  }
  
  .courses .course-content .category {
    background: var(--accent-color);
    color: var(--contrast-color);
    font-size: 14px;
    padding: 6px 14px;
    margin: 0;
    border-radius: 5px;
  }
  
  .courses .course-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .courses .course-content .description {
    font-size: 14px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .courses .trainer {
    padding-top: 15px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .courses .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
  }
  
  .courses .trainer .trainer-profile .trainer-link {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    transition: 0.3s;
    text-decoration: none;
  }
  
  .courses .trainer .trainer-profile .trainer-link:hover {
    color: var(--accent-color);
  }
  
  .courses .trainer .trainer-rank {
    font-size: 18px;
    color: color-mix(in srgb, var(--default-color), transparent 60%);
  }
  
  .courses .trainer .trainer-rank .user-icon {
    font-size: 22px;
  }
  .trainers-index .member {
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .trainers-index .member img {
    margin: -1px -1px 30px -1px;
  }
  
  .trainers-index .member .member-content {
    padding: 0 20px 30px 20px;
  }
  
  .trainers-index .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  .trainers-index .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .trainers-index .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
  }
  
  .trainers-index .member .social {
    margin-top: 15px;
  }
  
  .trainers-index .member .social a {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    transition: 0.3s;
  }
  
  .trainers-index .member .social a:hover {
    color: var(--accent-color);
  }
  
  .trainers-index .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  
    