   /* Fonts */
:root {
    --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  
  /* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo */
.logo {
    font-size: 35px;
    font-weight: bold;
    color:#06BBCC;
  }
  
  /* Navigation Menu */
nav {
    display: flex;
    gap: 20px;
  }
  
  /* Navigation Links */
nav a {
    text-decoration: none;
    color: var(--nav-color);
    font-size: 17px;
    font-family: var(--nav-font);
    font-weight: 400;
    transition: color 0.3s, background 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
nav a:hover,
nav a.active {
    color: #06BBCC;

  }
  
  /* Mobile Menu */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
  
  /* Responsive Styles */
@media (max-width: 768px) {
    nav {
      display: none; 
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background: white;
      width: 200px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }
  
    nav.open {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
}

